{% extends 'base.html.twig' %}

{% block title %}Восстановление пароляВосстановление пароля - Inst-Store{% endblock %}
{% block header %}
    <!--============= Header Section Starts Here =============-->
    <header class="header-section inner-header">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="{{ path('app_index_index') }}">
                        <img src="{{ asset('/assets/images/logo/logo.png') }}" alt="logo">
                    </a>
                </div>
                {{ include('base/header_list_links.html.twig') }}
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    <!--============= Header Section Ends Here =============-->

    <section class="page-header bg_img oh" data-background="{{ asset('/assets/images/page-header.png') }}">
        <div class="bottom-shape d-none d-md-block">
            <img src="{{ asset('/assets/css/img/page-header.png') }}" alt="css">
        </div>
        <div class="container">
            <div class="page-header-content cl-white">
                <h2 class="title">Восстановление пароля</h2>
                <ul class="breadcrumb">
                    <li>
                        <a href="{{ path('app_index_index') }}">Главная</a>
                    </li>
                    <li>
                        Восстановление пароля
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--============= Header Section Ends Here =============-->
{% endblock %}
{% block body %}
    <!--============= ScrollToTop Section Starts Here =============-->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>

    <div class="container padding-bottom">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Введите адрес эл.почты - мы отправим письмо с ссылкой на форму сброса пароля
            </small>
        </div>

        <button class="btn btn-primary">Подтвердить</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
