{% extends 'admin.html.twig' %}
{% block body %}
    <div class="categories">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Список категорий</h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th class="avatar">Название</th>
                                    <th>Описание</th>
                                    <th>Статус</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in pagination %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ row.Name }}</td>
                                        <td>{{ row.Description }}</td>
                                        <td><span class="badge badge-{{ row.Status == constant('STATUS_ACTIVE', Category) ? 'complete' : 'pending' }}">{{ Category.getStatusText(row.Status) }}</span></td>
                                        <td>
                                            <a class="btn btn-info" href="{{ path('app_admin_category_edit', {id: row.ID}) }}">Изменить</a>
                                            <a class="btn btn-danger" href="javascript:void(0)" onclick="if (confirm('Удалить категорию?')) location.href = '{{ path('app_admin_category_delete', {id: row.ID}) }}'">Удалить</a>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>
        </div>
        <div>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    <!-- /.orders -->
    <div class="clearfix"></div>

</div>
<!-- /#right-panel -->

{% endblock %}